@charset "UTF-8";

/*CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    z-index: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*fonts*/

@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/webfontkit-20150219-111727/BEBAS___-webfont.eot');
    src: url('../fonts/webfontkit-20150219-111727/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-20150219-111727/BEBAS___-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20150219-111727/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/webfontkit-20150219-111727/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-20150219-111727/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'god_bless_americaitalic';
    src: url('../fonts/webfontkit-20150219-111727/God Bless America-webfont.eot');
    src: url('../fonts/webfontkit-20150219-111727/God Bless America-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-20150219-111727/God Bless America-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20150219-111727/God Bless America-webfont.woff') format('woff'),
         url('../fonts/webfontkit-20150219-111727/God Bless America-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-20150219-111727/God Bless America-webfont.svg#god_bless_americaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/webfontkit-20150220-105345/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/webfontkit-20150220-105345/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-20150220-105345/SourceSansPro-Regular-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20150220-105345/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../fonts/webfontkit-20150220-105345/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-20150220-105345/SourceSansPro-Regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*This is the top logo*/

.topimagebox {
    width: 90%;
    margin-bottom: 1em;
    margin-top: 1em;
}

/*The nav bar*/

nav {   
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #947e92;
    -webkit-box-shadow: 0px 32px 45px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0px 32px 45px 15px rgba(0,0,0,0);
    box-shadow: 0px 32px 45px 15px rgba(0,0,0,0);
    margin-bottom: 2em;
}  

nav ul {  
    width: 100%;  
    display: block;  
    height: auto;  
}  

nav li {  
    width: 50%;  
    float: left;  
    position: relative;  
}  

nav li a {  
    border: 2px solid #e5e8f2;  
}  

nav a {  
    text-align: left;  
    width: 100%;  
    text-indent: 25px;  
} 

nav ul li:nth-child(2) {
    margin-right: 0%;
}

.bluebar {
    height: 7em;  
    width: 99.42%;  
    background: #9dcbcf;   
    border: 3px solid #947E92;
    margin-top: -14.50em;
    margin-bottom: 8em;
    -webkit-box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.39);
    box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.39);
}

/*Banner Image*/

.bannerimage {
    display: none;
}

.cupcaketop {
    display: none;
}

/*Top text*/

.home {
    display: inline;
}

/*Seperators*/

.circle {
    margin-left: auto;
    margin-right: auto;
    width: 8%;
    margin-bottom: -3em;
    margin-top: 1em;
}

/*First box with images of food*/

.infoone {
    width: 100%;
}

.febfifteen {
    width: 47%;
}

.cupcakeimage {
    width: 80%;
    padding-left: 4em;
}

.circletwo {
    padding-left: 13.5em;
    width: 15%;
}

#readmore {
    width: 50%;
    margin-right: auto;
    margin-left: 4em;
    padding: 1em;
    font-size: 2em;
}

/*Second box with icons*/

.icons {
    width: 40%;
    padding-left: 11em;
}

/*Different types of types */

h1 {
    font-family: 'bebasregular';
    text-align: center;
    color: #6f4f8f;
    width: 100%;
    font-size: 2.5em;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'source_sans_proregular';
    text-align: justify;
    color: #808080;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    font-size: 2em;
}

h3 {
    font-family: 'god_bless_americaitalic';
    text-align: center;
    margin-top: -2.60em;
    margin-bottom: 3em;
    margin-left: auto;
    color: #ffffff;
    font-size: 1.5em;
    padding-left: 1.5em;
}

h4 {
    font-family: 'source_sans_proregular';
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2em;
    padding-right: 1em;
    margin-top: .5em;
    float: left;
    font-size: 2em;
}

h5 {
    font-family: 'bebasregular';
    text-align: center;
    color: #72678e;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-right: 5.5em;
}

p {
    margin-left: auto;
    color: #6f4f8f;
    margin-right: auto;
    width: 100%;
    font-family: 'bebasregular';
    text-align: center;
    font-size: 4em;
    padding-bottom: .5em;
    margin-top: .5em;
}