@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/webfontkit-20150122-110448/pacifico-webfont.eot');
    src: url('../fonts/webfontkit-20150122-110448/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-20150122-110448/pacifico-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20150122-110448/pacifico-webfont.woff') format('woff'),
         url('../fonts/webfontkit-20150122-110448/pacifico-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-20150122-110448/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oldsansblackregular';
    src: url('../fonts/webfontkit-20150122-112421/oldsansblack-webfont.eot');
    src: url('../fonts/webfontkit-20150122-112421/oldsansblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-20150122-112421/oldsansblack-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20150122-112421/oldsansblack-webfont.woff') format('woff'),
         url('../fonts/webfontkit-20150122-112421/oldsansblack-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-20150122-112421/oldsansblack-webfont.svg#oldsansblackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
	max-width: 1400px;
	min-width: 320px;
	margin-right: auto;
	margin-left: auto;
}

.leftheader {
	background-color: #FF548F;
	width: 320px;
	height: 5em; 
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    float: left;
    margin-right: 1.5em;
    margin-top: 1em;
}

h1 {
	font-family: 'pacificoregular';
	color: #ffffff;
	font-size: 4em;
	padding-left: .5em;
	padding-top: .15em;
}

.rightheader {
	background-color: #FF548F;
	width: 1040px;
	height: 5em; 
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    float: left;
    margin-top: 1em;
}

.tinyicons {
	width: 5%;
	float: left;
	padding-right: 3%;
	list-style: none;
}

nav {
	margin-left: -11em;
	width: 1400px;
	margin-top: .5em;
}

a {
	font-size: 2.5em;
	font-family: 'oldsansblackregular';
}
 
nav ul li:hover > ul {
	display: none;
}

nav ul {
	padding-left: 10em;
	padding-right: 10em;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}
nav ul li:hover {

}
nav ul li:hover a {
	color: #6BCFF6;
}
 
nav ul li a {
	display: block; 
	padding: 10px 30px;
	color: #ffffff; 
	text-decoration: none;
}

.blue {
	background-color: #6bcff6;
	float: left;
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 1.5em;
    color: #ffffff;
    width: 33%;
    margin-top: 1em;
    height: 15em;
    margin-bottom: 0em;
}

h2 {
	font-family: 'oldsansblackregular';
	font-size: 3em;
}

.boxes {
	padding: 1em;
	color: #B3B3B3;
	font-size: 1em;
	border: none;
	margin-top: .5em;
	font-family: 'oldsansblackregular';
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:1.5em;
    height:1.5em;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background-color: #ffffff;
    cursor:pointer;
}

input[type="checkbox"] + label {
    font-family: 'oldsansblackregular';
    color: #ffffff;
    font-size: 2em;
}

input[type="checkbox"]:checked + label span {
    background-color:#04779e;
}

.darkblue {
	background-color: #04779e;
	width: 36.45%;
	border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 5em;
    float: left;
    margin-top: 19em;
    margin-left: -31.90em;
}

#login {
	text-align: center;
	margin-top: .35em;
}

#submit {
	background-color: #63d3ff;
	color: #ffffff;
	border: none;
	font-size: 2em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .25em;
	padding-bottom: .25em;
	margin-top: .25em;
}

.greenvideo {
	background-color: #a8d154;
	float: left;
	margin-top: 1em;
	margin-left: 1em;
	border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 61.25%;
    height: 11em;
    text-align: center;
    color: #ffffff;
}

.music {
	float: left;
	padding-left: 7em;
	padding-top: .5em;
	margin-bottom: 0em;
}

.vsauce {
	float: left;
	padding-left: 7em;
	padding-top: .5em;
	margin-bottom: 0em;
}

.howto {
	font-size: 1.5em;
	margin-top: 6.25em; 
}

.purple {
	background-color: #9061C2;
	float: left;
	border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 11em;
    margin-top: 1em;
	margin-left: 1em;
	width: 61.25%;
}

.dashboard {
	font-size: 1.5em;
	text-align: center;
	color: #ffffff;
	padding-top: .25em;
}

.person {
	float:left;
	padding-left: 5em;
}

h3 {
	font-family: 'oldsansblackregular';
	color: #ffffff;
	margin-left: 7em;
}

.profile {
	font-size: 1.25em;
	text-decoration: none;
	color: #ffffff;
	margin-left: 5.25em;
}

.cloud {
	font-size: 1.25em;
	text-decoration: none;
	color: #ffffff;
	margin-left: 6.25em;
}

.mess {
	font-size: 1.25em;
	text-decoration: none;
	color: #ffffff;
	margin-left: 5.5em;
}

.set {
	font-size: 1.25em;
	text-decoration: none;
	color: #ffffff;
	margin-left: 5em;
}

a:hover {
	color: #6BCFF6;
}

.lightpurple {
	background-color: #be80ff;
	width: 60%;
	height: 20em;
	float: left;
	border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 1em;
}

h3 {
	font-size: 3em;
	margin-left: .5em;
	margin-top: .25em;
}

.boxes2 {
	padding: 1em;
	margin-left: 1.5em;
	color: #B3B3B3;
	font-size: 1em;
	border: none;
	margin-top: 1em;
	font-family: 'oldsansblackregular';
	margin-bottom: 0em;
}

.submitpink {
	background-color: #ff548f;
	color: #ffffff;
	border: none;
	font-size: 1.75em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .25em;
	padding-bottom: .25em;
	margin-top: -4em;
	margin-left: .85em;
	float: left;
}

.comments {
	float: left;
	margin-left: 37em;
	margin-top: -15.5em;
	font-family: 'oldsansblackregular';
	color: #b3b3b3;
	padding: .5em;
}

.yellow {
	background-color: #f9c44e;
	float: left;
	width: 37.5%;
	height: 10em;
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 15em;
    margin-top: 1em;
    margin-left: 1em;
}

h4 {
	font-family: 'oldsansblackregular';
	color: #ffffff;
	text-align: center;
	font-size: 2em;
	padding-top: .25em;
}

#date {
	font-size: .75em;
	margin-bottom: 1em;
}

.gearsnow {
	float: left;
	margin-left: 2em;
	margin-top: .25em;
}

.eight {
	font-size: 10em;
	padding-top: .10em;
	font-family: 'oldsansblackregular';
	color: #ffffff;
	margin-left: 1.65em;
}

.bottomgreen {
	background-color: #aad452;
	float: left;
	width: 37.5%;
	height: 5em;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 53.5em;
    margin-top: -5em;
}

h5 {
	font-family: 'oldsansblackregular';
	margin-top: 0em;
	color: #ffffff;
	font-size: 2em;
	margin-left: .5em;
	margin-top: .25em;
}

.datedate {
	font-size: 1.5em;
	margin-top: .25em;
	margin-left: .70em;
}

.doublerainbow {
	margin-bottom: .6em;
	margin-top: -6em;
	margin-left: 15em;
}

.degrees {
	font-family: 'oldsansblackregular';
	color: #ffffff;
	margin-left: 12em;
	margin-top: -2.5em;
}

.house {
	background-color: #ff548f;
	height: 9em;
	width: 25%;
	padding: 1em;
	float: left;
	margin: .25em;
	border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
    display: none;
}

.media {
	background-color: #aad452;
	height: 9em;
	width: 25%;
	padding: 1em;
	float: left;
	margin: .25em;
	border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
    display: none;
}

.purpleshapes {
	background-color: #9061c2;
	height: 9em;
	width: 25%;
	padding: 1em;
	float: left;
	margin: .25em;
	border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
    display: none;
}

.arrow {
	background-color: #63d3ff;
	height: 9em;
	width: 25%;
	padding: 1em;
	float: left;
	margin: .25em;
	border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
    display: none;
}

.yw {
	background-color: #f9c44e;
	height: 9em;
	width: 25%;
	padding: 1em;
	float: left;
	margin: .25em;
	border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
    display: none;	
}

.phoneicons {
	display: block;
	width: 75%;
	margin-left: 1.25em;
	display: none;
}

.phoneiconsaa {
	display: block;
	width: 50%;
	margin-left: 2.5em;
	display: none;
}

.phoneiconsbb {
	display: block;
	width: 75%;
	margin-left: 1.25em;
	margin-top: 1em;
	display: none;
}

.phoneiconscc {
	display: block;
	width: 75%;
	margin-left: 1.25em;
	margin-top: 2em;
	display: none;
}